* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.coy-logo {
    margin-top: 50px;
}

.nav-menu {
    margin-top: 60px;
}

.nav-links {
    font-size: 1.3rem;
    color: black;
    text-decoration: none;
    margin-right: 20px;
}

.nav-links:hover {
    color: red;
}

main {
    margin-top: 50px;
    width: 100%;
    display: flex;
    
    
}

.sub-main {
    display: flex;
}

#rm-btn {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
}

.sub-mainp {
    color: rgba(000, 000, 000, 0.5);
}

section {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.sub-section {
    display: flex;
}





/************** MEDIA QUERIES *********************/
/************** MEDIA QUERIES *********************/
/************** MEDIA QUERIES *********************/


/**************** for large screens ***************/
@media (min-width: 1200px) {
}
 
/**************** For medium screens ***************/
@media (min-width: 766px) and (max-width: 1199px) {

    .coy-logo {
        display: block;
    }


    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mobile-main {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mobile-main2 {
        margin-top: 50px;
    }

    .sub-main {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #sub-mainright {
        margin-right: 250px;
    }

    .mobile-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sub-section-a {
        margin-top: 50px;
    }
}
 
/**************** For small screens ***************/
@media (min-width: 577px) and (max-width: 765px) {

    .coy-logo {
        display: block;
    }


    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mobile-main {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mobile-main2 {
        margin-top: 50px;
    }

    .sub-main {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #sub-mainright {
        margin-right: 250px;
    }

    .mobile-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sub-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sub-section-a {
        margin-top: 50px;
    }
}
 
/**************** For extra small screens ***************/
@media (max-width: 576px) {

    .coy-logo {
        display: block;
    }


    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mobile-main {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mobile-main2 {
        margin-top: 50px;
    }

    .sub-main {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #sub-mainright {
        margin-right: 250px;
    }

    .mobile-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sub-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sub-section-a {
        margin-top: 50px;
    }
}

/**************** For micro screens ***************/
@media (max-width: 300px) {

    .coy-logo {
        display: block;
    }


    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mobile-main {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mobile-main2 {
        margin-top: 50px;
    }

    .sub-main {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #sub-mainright {
        margin-right: 250px;
    }

    .mobile-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sub-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sub-section-a {
        margin-top: 50px;
    }
}

